//Colors
$white: #FFFFFF;
$primary: #EB5757;
$lightPrimary: #EB5757B8; 
$darkGray: #333333;
$lighterGray: #BDBDBD;
$mediumGray: #4F4F4F;
$lightGray: #828282;
$offWhite: #F2F2F2;

// Fonts
$montserrat: 'Montserrat', sans-serif;
$mulish: 'Mulish', sans-serif;
$poppins: 'Poppins', sans-serif;