.navbar {
    align-items: center;
    justify-content: space-between;
    padding: 32px;
}

.active {
    width: 100vw;
    
}

.search__input {
    border: none;
    text-indent: 16px;
    height: 58px;
    position: relative;
}

.navbar__img {
    width: 150px;
}

.navbar__search {
    border: 1px solid $offWhite;
    border-radius: 16px;
    padding: 4px 8px;
    align-items: center;
    box-shadow: $dropShadow;
}

.search__icon {
    color: $primary;
    padding: 8px;
    
}

#clearBtn {
    cursor: pointer;
}

.result {
    gap: 8px;
    margin: 8px;
    cursor: pointer;
    
    &:hover {
        .result__icon {
            color: $primary;
        }

        .result__text {
            color: black;
        }
    }
    
}

.results__container {
    gap: 64px;
    position: absolute;
}

.result__text {
    font-family: $mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: $mediumGray;
    
}

.result__icon {
    color: $mediumGray;


}

.content__wrapper {
    height: 50vh;
    margin: auto;
    padding-top: 200px;
}

.searchbar__drawer {
    width: 1248px;
    
    
}

.drawer {
    justify-content: space-between;
    
}

.input--drawer {
    width: 426px;
}

.guests__wrapper {
    gap: 16px;
}

.guests__item {
    gap: 16px;
}

.item__title {
    font-family: $mulish;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: $darkGray;
}

.item__description {
    font-family: $mulish;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $lightGray;
}

.item__counter {
    align-items: center;
    gap: 16px;

}

.counter__number {
    font-family: $mulish;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: $darkGray;
}

.counter__icon {
    color: $lightGray;
    cursor: pointer;
}

.results {
    margin-top: 16px;
    gap: 480px;
}