@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Mulish:wght@400;700;800&family=Poppins:wght@700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #FFFFFF;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page__wrapper {
  max-width: 1440px;
  margin: auto;
}

.navbar {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px;
}

.active {
  width: 100vw;
}

.search__input {
  border: none;
  text-indent: 16px;
  height: 58px;
}

.navbar__img {
  width: 150px;
}

.navbar__search {
  border: 1px solid #F2F2F2;
  border-radius: 16px;
  padding: 4px 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.search__icon {
  color: #EB5757;
  padding: 8px;
}

#clearBtn {
  cursor: pointer;
}

.result {
  gap: 8px;
  margin: 8px;
  cursor: pointer;
}

.result:hover .result__icon {
  color: #EB5757;
}

.result:hover .result__text {
  color: black;
}

.result__text {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #4F4F4F;
}

.result__icon {
  color: #4F4F4F;
}

.content__wrapper {
  height: 50vh;
  margin: auto;
  padding-top: 200px;
}

.searchbar__drawer {
  width: 1248px;
}

.drawer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input--drawer {
  width: 426px;
}

.guests__wrapper {
  gap: 16px;
}

.guests__item {
  gap: 16px;
}

.item__title {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.item__description {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #828282;
}

.item__counter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.counter__number {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.counter__icon {
  color: #828282;
  cursor: pointer;
}

.hero__wrapper {
  padding: 32px;
}

.hero__titles {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 32px;
}

.hero__title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}

.hero__count {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4F4F4F;
}

.stays__section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 40px;
}

.footer__sign {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  color: #828282;
}
